.languages
  = link_to '', {:locale => 'en'}, {:id => 'EnglishFlag', :class => current_locale_class(params[:locale], 'en')}
  = link_to '', {:locale => 'fr'}, {:id => 'FrenchFlag', :class => current_locale_class(params[:locale], 'fr')}
  = link_to '', {:locale => 'ht'}, {:id => 'CreoleFlag', :class => current_locale_class(params[:locale], 'ht')}
  = link_to '', {:locale => 'es'}, {:id => 'SpanishFlag', :class => current_locale_class(params[:locale], 'es')}