.languages
  = link_to image_tag('United-States.png'), {:locale => 'en'}, {:id => 'EnglishFlag'}
  = link_to image_tag('France.png'), {:locale => 'fr'}, {:id => 'FrenchFlag'}
  = link_to image_tag('Haiti.png'), {:locale => 'ht'}, {:id => 'CreoleFlag'}
  = link_to image_tag('Spain.png'), {:locale => 'es'}, {:id => 'SpanishFlag'}