.languages
  = link_to image_tag('United-States.png'), :locale => 'en'
  = link_to image_tag('France.png'), :locale => 'fr'
  = link_to image_tag('Haiti.png'), :locale => 'cr'
  = link_to image_tag('Spain.png'), :locale => 'es'