%h1 Listing videos

.content
  = render :partial => 'video_quickview', :collection => @videos, :as => :video
/ %tr
/   %td= video.name
/   %td= link_to 'Show', video
/   %td= link_to 'Edit', edit_video_path(video)
/   %td= link_to 'Destroy', video, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New video', new_video_path
