#container
  .rule_bl
  #top
    %h1{:class => "header-content"} Fighting Impunity in Haiti
  .rule_bl
  #splash
    %p Hello, we are a group of activists, developers, students, and profesionals alike who are dedicated to fighting impunity for human rights violations in Haiti over the last century. Currently this site is a work in progress. We are working on making an eLibrary so most of the work currently is behind the scenes. If you are an editor or a manager you can log in below.
    .button-holder
      = link_to t(:login), sessions_login_path, :class => "btn btn-primary"
