- @document.text_langs.each do |dl|
<<<<<<< HEAD
  %p.display_text
    - if auth_to_view(dl)
      -if dl.txt.url != '/txts/original/missing.png'
        %b File:
        /= image_tag dl.txt.url
        %iframe{src: dl.txt.url,class:'pdf'}
      -else
        = dl.plain_text.html_safe
      / need to show iff text file is not missing
      %br

%p
  - @document.subtype_fields.keys.each do |f|
    %p
      %b= "#{f.to_s.titleize}"
      = @document.subtype_fields[f]

