%p Text Form
= f.hidden_field :subtype, :value => params[:subtype]
= f.simple_fields_for :subtype_fields, OpenStruct.new(@document.subtype_fields) do |sf|
  - @doc_type.send(@text_subtype.to_sym).each do |sff|
    .field
      = sf.label sff.to_s.titleize, required: false
      = sf.text_field sff, required: false
