%h1 Editing document

= render 'form'

= link_to 'Show', @document #document_path(:type => params[:type], :id => @document.id)
\|
= link_to 'Back', :controller => "documents",
                  :action => "index",
                  :type => params[:type]
