%h1= "Listing #{params[:type].to_s.titleize}"

.content
  = render :partial => 'document_quickview', :collection => @documents, :as => :document
%br

= link_to "Submit a Document", [:new, @doc_type_sym, @document]
