%p
  %b Please select a document type from the list below:
%p
  = link_to 'Web Article', new_text_path(:subtype => 'web')
  = link_to 'Journal Article', new_text_path(:subtype => 'journal')
  = link_to 'Newspaper Article', new_text_path(:subtype => 'newspaper')
  = link_to 'Book Excerpt', new_text_path(:subtype => 'book')
