%p
  %b Please select a document type from the list below:
%p
  %button{:type => "button", :class => "btn"}
    = link_to 'Web Article', new_text_path(:subtype => 'web')
%p
  %button{:type => "button", :class => "btn"}
    = link_to 'Journal Article', new_text_path(:subtype => 'journal')
%p
  %button{:type => "button", :class => "btn"}
    = link_to 'Newspaper Article', new_text_path(:subtype => 'newspaper')
%p
  %button{:type => "button", :class => "btn"}
    = link_to 'Book Excerpt', new_text_path(:subtype => 'book')
