%h1 Listing pictures

.content
  = render :partial => 'picture_quickview', :collection => @pictures, :as => :picture
/ %tr
/   %td= picture.name
/   %td= link_to 'Show', picture
/   %td= link_to 'Edit', edit_picture_path(picture)
/   %td= link_to 'Destroy', picture, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New picture', new_picture_path
