//= require_self
//= require_tree .

@import "bootstrap";
body{
    background: url('/assets/background.jpg') no-repeat center center fixed;
    }
.container{
	background: #fff;
}
.new{ color: red; }
.in_progress{ color: red; }
.pending{ color: red; }
.rejected{ color: red; }
.published{ color: green; }
.tag_sidebar { 
	float:left;
	margin: 10px;
}
