%h1 Listing binaries

.content
  = render :partial => 'binary_quickview', :collection => @binaries, :as => :binary
/ %tr
/   %td= binary.name
/   %td= link_to 'Show', binary
/   %td= link_to 'Edit', edit_binary_path(binary)
/   %td= link_to 'Destroy', binary, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New binary', new_binary_path
